%p#notice= notice

= render "questions/show", locals: { question: @question }

%p
  %b Comment:
  = @question.comment
%p
  %b Questionnaire:
  = @question.questionnaire.show

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
