= form_for @answer do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :body
    = f.text_field :body

  .field
    = f.label :question
    = collection_select(:answer, :question_id, Question.all, :id, :show)

  .actions
    = f.submit 'Save'
