= form_for setup_questionnaire(@questionnaire) do |f|
  - if @questionnaire.errors.any?
    #error_explanation
      %h2= "#{pluralize(@questionnaire.errors.count, "error")} prohibited this questionnaire from being saved:"
      %ul
        - @questionnaire.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title

  = f.fields_for :questions do |ff|
    .field
      = ff.label :title
      = ff.text_field :title
      - if ff.object.persisted?
        = ff.check_box :_destroy
        = ff.label :_destroy, "Destroy"

  .actions
    = f.submit 'Save'
