= form_for setup_questionnaire(@questionnaire) do |f|
  - if @questionnaire.errors.any?
    #error_explanation
      %h2= "#{pluralize(@questionnaire.errors.count, "error")} prohibited this questionnaire from being saved:"
      %ul
        - @questionnaire.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title

  %b Questions:
  = f.fields_for :questions do |ff|
    .field
      = ff.text_field :title
      - if ff.object.persisted?
        %b
          =link_to 'Edit', edit_question_path(ff.object)
      %div
        Answer:
        = ff.collection_radio_buttons :answer_id, ff.object.answers, :id, :body
  .actions
    = f.submit 'Save'
